<!DOCTYPE HTML>
<!--
	Multiverse by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Alexis Wurth</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <!--[if lte IE 8]><script src="<%- url_for("/index/js/ie/html5shiv.js") %>"></script><![endif]-->
    <link rel="stylesheet" href="<%- url_for("/index/css/main.css") %>" />
    <!--[if lte IE 9]><link rel="stylesheet" href="<%- url_for("/index/css/ie9.css") %>" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="<%- url_for("/index/css/ie8.css") %>" /><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>Alexis Wurth</strong></a></h1>
        <nav>
            <ul>
                <li><a href="#footer" class="icon fa-info-circle">About</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main -->
    <div id="main">
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4377/36027685133_4ce97da203_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4377/36027685133_4ce97da203_k.jpg" alt="" /></a>
            <p></p>
        </article>
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4348/36027688053_7684401bee_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4348/36027688053_7684401bee_k.jpg" alt="" /></a>
            <p></p>
        </article>
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4366/36836739145_c73d9d9fb6_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4366/36836739145_c73d9d9fb6_k.jpg" alt="" /></a>
            <p></p>
        </article>
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4419/36027687443_fa1266ae1b_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4419/36027687443_fa1266ae1b_k.jpg" alt="" /></a>
            <p></p>
        </article>
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4436/36836735245_8e7cf9c1d3_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4436/36836735245_8e7cf9c1d3_k.jpg" alt="" /></a>
            <p></p>
        </article>
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4435/36027686193_4486d2a649_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4435/36027686193_4486d2a649_k.jpg" alt="" /></a>
            <p></p>
        </article>
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4404/36002639094_571eb36637_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4404/36002639094_571eb36637_k.jpg" alt="" /></a>
            <p></p>
        </article>
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4378/36836736605_4d2987b901_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4378/36836736605_4d2987b901_k.jpg" alt="" /></a>
            <p></p>
        </article>
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4417/36002633634_801dbdd6a0_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4417/36002633634_801dbdd6a0_k.jpg" alt="" /></a>
            <p></p>
        </article>
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4360/36836737995_35c012d52c_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4360/36836737995_35c012d52c_k.jpg" alt="" /></a>
            <p></p>
        </article>
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4419/36002639734_6ef88a1ba6_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4419/36002639734_6ef88a1ba6_k.jpg" alt="" /></a>
            <p></p>
        </article>
        <article class="thumb">
            <a href="https://c1.staticflickr.com/5/4338/36027687063_4c9e8ea013_k.jpg" class="image"><img src="https://c1.staticflickr.com/5/4338/36027687063_4c9e8ea013_k.jpg" alt="" /></a>
            <p></p>
        </article>
    </div>

    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>Alexis Wurth</h2>
                    <p>Web Developer</p>
                </section>
                <section>
                    <h2>Follow me on ...</h2>
                    <ul class="icons">
                        <li><a href="https://twitter.com/alexis_wrt" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="https://github.com/awurth" class="icon fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="https://www.linkedin.com/in/alexiswurth" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                    </ul>
                </section>
                <p class="copyright">
                    &copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>.
                </p>
            </div>
            <div>
                <section>
                    <!--
                    <h2>Get in touch</h2>
                    <form method="post" action="#">
                        <div class="field half first">
                            <input type="text" name="name" id="name" placeholder="Name" />
                        </div>
                        <div class="field half">
                            <input type="text" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send" class="special" /></li>
                            <li><input type="reset" value="Reset" /></li>
                        </ul>
                    </form>
                    -->
                </section>
            </div>
        </div>
    </footer>

</div>

<!-- Scripts -->
<script src="<%- url_for("/index/js/jquery.min.js") %>"></script>
<script src="<%- url_for("/index/js/jquery.poptrox.min.js") %>"></script>
<script src="<%- url_for("/index/js/skel.min.js") %>"></script>
<script src="<%- url_for("/index/js/util.js") %>"></script>
<!--[if lte IE 8]><script src="<%- url_for("/index/js/ie/respond.min.js") %>"></script><![endif]-->
<script src="<%- url_for("/index/js/main.js") %>"></script>

</body>
</html>
