<!--<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>-->
<li><a href="<%- url_for("/doc/slim-validation/v3/") %>" class="nav-link<%- page.path.match(/doc/) ? ' current' : '' %>">Documentation</a></li>
<%- partial('partials/projects_dropdown') %>
<%- partial('partials/links_dropdown') %>
<li><a href="" target="_blank" class="nav-link blog">Blog</a></li>
<%# partial('partials/language_dropdown') %>
<!--<li><a href="https://vue.threadless.com" target="_blank" class="nav-link shop">Shop</a></li>-->
